body{
    background-color: yellow;
}

#container-box {
    font-size: 2vh;
    color: azure;
    text-align: center;
    background-color: blue;
    height: 25rem;
    width: 30rem;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 3rem;
}


