html, 
body, 
*{
    padding: 0;
    margin: 0;
    font: 100%;
}
body{
    background-color: chartreuse;
}
#container-box {
    color: white;
    height: 25rem;
    font-size: 1.5rem;
    text-align: center;
}
p{
margin-top: 2%;
}






